<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ScanUpload</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="{{ url_for('static',filename='styles/error.css') }}" rel="stylesheet">

</head>

<body>
  <container2>
  </container2>
  <container3>
  </container3>
  <container4>
  </container4>
  <div class="message">
    <div class="error_header">
        Oops, something went wrong!
      </div>
      <div class="error_message">
        Please provide feedback over <a href="/feedback"> here </a>
      </div>
      <div class="code">Error code: {{code}}</div>
      <button><a class="unstyled" href="/">Home</a></button>
  </div>


</body>

</html>