<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScanUpload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="{{ url_for('static',filename='styles/homecss.css') }}" rel="stylesheet">
    
</head>

<body>
    <div class="title">
        <h1>Medical Suite</h1>
    </div>
    <container2>
    </container2>
    <container3>
    </container3>
    <container4>
    </container4>
    <nav>
    <div class="dropdown">
        <button class="dropbtn">Our solutions</button>
        <div class="dropdown-content">
          <a href="/brain_tumor">Brain Tumor</a>
          <a href="#">Retinal Test</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Information</button>
        <div class="dropdown-content">
          <a href="#">Model Details</a>
          <a href="#">References</a>
          <a href="#">About us</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><a href="#">Analytics</a></button>
      </div>
    </nav>
</body>

</html>