<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                         initial-scale=1.0">
    <title>Medical Suite</title>
    <link rel="stylesheet"
          href="{{ url_for('static',filename='styles/style.css') }}">
</head>
 
<body>
    <header>
        <h1 class="heading">Welcome!</h1>
        <h3 class="title">Log in or register to continue</h3>
    </header>

    <container2>
    </container2>
    <container3>
    </container3>
    <container4>
    </container4>

    <div class="container">
        <div class="slider"></div>
        <div class="btn">
            <button class="login">Login</button>
            <button class="signup">Signup</button>
        </div>

        <div class="form-section">

            <form class="login-box" method="POST">
                
                <input type="email"
                       class = "ele"
                       placeholder="youremail@email.com"
                       name="email">
                
                <input type="password"
                       class="password ele"
                       placeholder="password"
                       name="pass">
                <input class="styled" type="submit" name="login" value="Login">
                <input class="styled" type="submit" name="guest" value="Guest" />
                <div class="error">{{info}}</div>
            </form>

            <form class="signup-box" method="POST">
                <input type="text"
                       class="name ele"
                       placeholder="Enter your name"
                       name="name_reg">
                <input type="email"
                       class="email ele"
                       placeholder="youremail@email.com"
                       name="email_reg">
                <input type="password"
                       class="password ele"
                       placeholder="password"
                       name="pass_reg">
                <input type="password"
                       class="password ele"
                       placeholder="Confirm password"
                       name="conf_pass_reg">
                       <input class="styled" type="submit" name="signup" value="signup">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
</body>
</html>