<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                         initial-scale=1.0">
    <title>Medical Suite</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/support.css') }}">
</head>

<body>
    <div class="title">
        <h1>Support Us</h1>
    </div>
    <container2>
    </container2>
    <container3>
    </container3>
    <container4>
    </container4>

    <container>
        <h2>We are a completely free project!</h2>
        <p>However, we rely on donations to keep this project alive. It also lets us add additional detectors and
            features to improve the website. If this website has helped you in any way or you like the idea behind it,
            consider contributing to it! Every penny helps and is appreciated. If you are unable to donate right now,
            promoting us also helps us just as much. Thank you for your consideration!</p>
    </container>
    <nav>
        </div>
        <div class="dropdown">
            <a href="/home"><button class="dropbtn">Home</button></a>
        </div>
    </nav>
</body>