body {
    background-color: rgb(233, 224, 224);
    background-size: 120%;
}

#form {
    position: absolute;
    top: 13%;
    left: 55%;
    background-color: #bbb;
    border-radius: 6%;
    height: 74%;
    width: 37%;
    margin: auto;
    padding: 2% 2% 2% 2%;
    padding-bottom: 0%;
    opacity: 0.7;
}

container2 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 3.5%;
    height: 100%;
    background-color: #143561;
    border-radius: 0%;
    margin: 0 auto;
    opacity: 0.7;
}

container3 {
    position: absolute;
    top: 0%;
    left: 3.5%;
    width: 3.5%;
    height: 100%;
    background-color: #1f6c75;
    margin: 0 auto;
    opacity: 0.7;
}

container4 {
    position: absolute;
    top: 0%;
    left: 7%;
    width: 3.5%;
    height: 100%;
    background-color: #8eb7bd;
    margin: 0 auto;
    opacity: 0.7;
}

container5{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 25%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
}

container6{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 42%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
}

container7{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 56.5%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
}

container8{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 71%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
}

.tumor{
  position: absolute;
  left: 65%;
  top: 27%;
  opacity: 0.8;;
  border-radius: 250px;
  transition-duration: 2s;
}

.tumor:hover{
  border-radius: 100px;
}

.subtitle{
  position: relative;
  font-size: x-large;
}

  .title h1 {
    font-size:56px; font-weight:500; text-transform:uppercase;
    position: absolute;
    top: 5%;
    left: 17%;
    transition-duration: 2s;
  }

  .title h1:before {
      background-color: #1f6c75;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.25rem;
      width: 120px;
      margin-bottom: 1.25rem;
  }

  nav{
    position: absolute;
    left: 65%;
    width: 35%;
    background-color: rgb(233, 224, 224);
    padding-top: 4.2%;
  }

  .dropbtn {
    background-color: transparent;
    padding: 16px;
    padding-right: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size:16px; font-weight:500; text-transform:uppercase;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.5s ease;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:16px; font-weight:500; text-transform:uppercase;
    transition: all 0.5s ease;
  }

  .dropdown-content a:hover {background-color: #8eb7bd}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #8eb7bd;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color: black;
  }
