@media (min-width: 769px)
{
  body {
    background-color: rgb(233, 224, 224);
    background-size: 100%;
    max-width: 100%;
}

container2 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 3.5%;
    height: 100%;
    background-color: #143561;
    border-radius: 0%;
    margin: 0 auto;
    opacity: 0.7;
}

container3 {
    position: absolute;
    top: 0%;
    left: 3.5%;
    width: 3.5%;
    height: 100%;
    background-color: #1f6c75;
    margin: 0 auto;
    opacity: 0.7;
}

container4 {
    position: absolute;
    top: 0%;
    left: 7%;
    width: 3.5%;
    height: 100%;
    background-color: #8eb7bd;
    margin: 0 auto;
    opacity: 0.7;
}

.arrow {
  box-sizing: border-box;
  height: 1vh;
  width: 0.5vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(-45deg);
  transition-duration: 0.8s;
  transition-timing-function: linear;
}

.meta-container{
  position: absolute;
  top: 31%;
  left:17%;
  width:42%;
  height: 60%;
  float: left;
}

.container{
  padding: 0.5vw;
  background-color: #a5c1c5;
  margin:10px;
  border-radius: 20px;
  height: 17%;
  transition-duration: 1s;
}

.container:hover{
  height: 30%;
}

.subtitle{
  position: relative;
  font-size: 4.5vh;
  margin-right: 5px;
}

.info{
  font-size: 2vh;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 1s,visibility 0s,opacity 0s;
}

.container:hover .arrow{
  transform: rotate(45deg);
}

.container:hover .info{
  max-height:100px;
  opacity: 1;
  visibility: visible;
  transition: max-height 1s,visibility 0s ease 0.5s,opacity 0.5s ease 0.5s;
}

.info:hover{
  transition: visibility 0s,opacity 0s;
}

/* container5{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 25%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
}

container6{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 42%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
}

container7{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 56.5%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
}

container8{
  padding: 20px;
  width: 40%;
  position: absolute;
  top: 71%;
  left:17%;
  background-color: #a5c1c5;
  border-radius: 20px;
} */

.content_img{
  position: absolute;
  width: 30vw 10vh;
  left: 65%;
  top: 27vh;
}
.tumor{
  height: 60vh;
  opacity: 0.8;
  border-radius: 20vw;
  transition: border-radius 2s;
}

.content_img:hover .tumor{
  border-radius: 8vw;
}

.content_img div{
  position: absolute;
  bottom: 0;
  right: 9vh;
  width: 40vh;
  background: transparent;
  color: rgb(117, 194, 117);
  margin-bottom: 5px;
  padding:10px;
  font-family: sans-serif;
  font-size: 1.8vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s,visibility 1s;
  text-align: center;
}

.content_img:hover div{
  visibility: visible;
  opacity: 1; 
}


  .title h1 {
    font-size:4.5vw; font-weight:500; text-transform:uppercase;
    position: absolute;
    top: 5%;
    left: 17%;
  }

  .title h1:before {
      background-color: #1f6c75;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.25rem;
      width: 120px;
      margin-bottom: 1.25rem;
  }

  nav{
    position: absolute;
    left: 65%;
    width: 35%;
    background-color: rgb(233, 224, 224);
    padding-top: 4.2%;
  }

  .dropbtn {
    background-color: transparent;
    padding: 16px;
    padding-right: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size:16px; font-weight:500; text-transform:uppercase;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.5s ease;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:16px; font-weight:500; text-transform:uppercase;
    transition: all 0.5s ease;
  }

  .dropdown-content a:hover {background-color: #8eb7bd}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #8eb7bd;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color: black;
  }

  .support{
    position: absolute;
    bottom: 2%;
    right:2%;
    padding: 5px;
  }


  button{
    border: 2px solid black;
    border-radius: 15px;
  }

  button:hover{
    background-color: #1f6c75;
  }

  .support:hover button{
    color: white;
  }

}

  @media (max-width: 480px) {
    body {
      background-color: rgb(233, 224, 224);
      background-size: 120%;
      overflow-x: hidden;
      width: 100%;
    }

    .content_img div{
      visibility: hidden;
    }

    .content_img{
      visibility: hidden;
    }

    container2{
      position: absolute;
      top:0%;
      left: 0%;
      width: 100%;
      height: 3%;
      background-color: #143561;
      border-radius: 0%;
      margin: 0 auto;
      opacity: 0.6;
    }

    container3{
      position: absolute;
      top:3%;
      left: 0%;     
      width: 100%;
      height: 3%;
      background-color: #1f6c75;
      border-radius: 0%;
      margin: 0 auto;
      opacity: 0.6;
    }

    container4{
      position: absolute;
      top: 6%;
      left: 0%;
      width: 100%;
      height: 3%;
      background-color: #8eb7bd;
      border-radius: 0%;
      margin: 0 auto;
      opacity: 0.6;
    }

    .meta-container{
      position: absolute;
      top: 25%;
      left:7vw;
      width:42%;
      height: 60%;
      float: left;
    }

    .subtitle{
      font-size: 4.5vh;
    }

    .info{
      visibility: visible;
      opacity: 100%;
      transition: none !important;
      padding: 5px;
    }

    .container{
      padding: 0.6vw;
      background-color: #a5c1c5;
      margin:10px;
      border-radius: 20px;
      transition-duration: 1s;
      transition: none !important;
      height: fit-content;
      width: 80vw;
      text-align: center;
      border:solid black 1px;
    }

    .title h1 {
      font-size:7vw; font-weight:500; text-transform:uppercase;
      position: absolute;
      top: 13%;
      left: 25vw;
    }

    nav{
      position: absolute;
      top: 20%;
      width: 86vw;
      left: 10vw;
      background-color: rgb(233, 224, 224);
    }
  
    .dropbtn {
      background-color: transparent;
      padding-right: 20px;
      border: none;
      cursor: pointer;
      transition: all 0.5s ease;
      font-size:3vw; font-weight:500; text-transform:uppercase;
      text-decoration: none;
      color: black;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      transition: all 0.5s ease;
    }
    
    .dropdown-content a {
      color: black;
      padding: 8px 12px;
      text-decoration: none;
      display: block;
      font-size:3vw; font-weight:500; text-transform:uppercase;
      transition: all 0.5s ease;
    }
  
    .dropdown-content a:hover {background-color: #8eb7bd}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #8eb7bd;
    }
  
    a{
      text-decoration: none;
      color: black;
    }
  
    a:hover{
      text-decoration: none;
      color: black;
    }

    .subtitle{
      clear: left;
    }
    
    #end{
      padding-right: 0px;
    }
}